﻿<div data-ng-controller="Sekcja1">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">kontroler : {{Info}}</h3>
        </div>
        <div class="panel-body">
            @Html.Partial("_partial", "Wniosek.Sekcja1.Osoba")
        </div>
    </div>
</div>
