﻿<div data-ng-controller="Sekcja2" data-ng-init="s = Wniosek.Sekcja2">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">kontroler : {{s.Info}}
                <input type="button" class="btn btn-success" value="zrywa : ModyfikacjaSekcja3" data-ng-click="ModyfikacjaSekcja3()"/>
                <input type="button" class="btn btn-success" value="nie zrywa : ModyfikacjaSekcja3ByValue" data-ng-click="ModyfikacjaSekcja3ByValue()"/>
            </h3>
        </div>
        <div class="panel-body">
            @Html.Partial("_partial", "s.Osoba")
        </div>
    </div>
</div>


