﻿@model string
<div data-ng-controller="Sekcja3" data-ng-init="@Model">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">kontroler : {{s.Info}} 
                <input type="button" value="zrywa : CopyObj" data-ng-click="CopyObj()" class="btn btn-warning" />
                <input type="button" value="zrywa : CopyObjRootScope" data-ng-click="CopyObjRootScope()" class="btn btn-warning" />
            </h3>
        </div>
        <div class="panel-body">
            @Html.Partial("_partial", "s.Osoba")
        </div>
    </div>
</div>
