﻿@model string
<div data-ng-controller="_partial" data-ng-init="p = @Model">
    <div class="form-group">
        <label>Imię</label>
        <input type="text" class="form-control" data-ng-model="p.Name" />
    </div>
    <div class="form-group">
        <label>Wiek</label>
        <input type="number" class="form-control" data-ng-model="p.Age" />
    </div>
</div>
