﻿@using Newtonsoft.Json
@model SharedController.Models.Wniosek
@{
    string wniosek = JsonConvert.SerializeObject(Model, Formatting.Indented);
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/bootstrap/css")


<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>przykład wykorzystania wielokrotnego jednego kontrolera</title>
    <script>
        var Wniosek = @Html.Raw(wniosek);
    </script>
    <script src="/Scripts/Wniosek/myApp.js"></script>
    <script src="/Scripts/Wniosek/_partial.js"></script>

</head>
<body data-ng-app="myApp">
    <div data-ng-controller="main">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <p>kontroler : {{Info}}</p>
                </h3>
            </div>
            <div class="panel-body">
                @Html.Partial("_1")
                @Html.Partial("_2")
                @Html.Partial("_3", "s = Wniosek.Sekcja3")
            </div>
            <div class="panel-footer">
                <textarea readonly rows="10" cols="35">{{GetWniosek(Wniosek.Sekcja1)}}</textarea>
                <textarea readonly rows="10" cols="35">{{GetWniosek(Wniosek.Sekcja2)}}</textarea>
                <textarea readonly rows="10" cols="35">{{GetWniosek(Wniosek.Sekcja3)}}</textarea>
            </div>
        </div>
    </div>
</body>
</html>
